* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#header {
  background-color: #f1f1f1;
  grid-column: 1 / 13;
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

/* The grid container */
#container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 0.5fr 1fr 2fr 1fr 0.5fr;
    
  grid-column-gap: 10px;
  grid-row-gap: 10px;
} 

#questions,
#rules {
  grid-row: 3 / 5;
}

/* Difficulty on left */
#difficulty {
  grid-column: 1 / 13;
  grid-row: 2;
  background-color: blue;
  text-align: center;
}

/* Questions in middle */
#questions {
  grid-column: 1 / 10;
  background-color: green;
  text-align: center;
}

/* Rules on right */
#rules {
  grid-column: 10 / 13;
  background-color: red;
  text-align: center;
}

#questionsContainer {
  
  border: 3px solid blue;
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

#answers{
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 10px;
}

#answer{
  text-align: center;
  margin: 20px;
  cursor: text;
  font-size: 15px;
  width: 300px;
  height: 40px;
}

#a, #b, #c, #d{
  text-align: center;
  margin: 20px;
  font-size: 15px;
}


#question {
 margin: 20px;
 font-size: 25px;
}

#submit{
  cursor: pointer;
  background-color: #ddd;
  padding: 10px 50px;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
  border: 2px solid #444;
  border-radius: 10px;
}

#start {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(231, 80, 80);
  border:5px solid red;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  margin-top: 130px;
}

#start:hover {
  background: #eee;
  color: red;
}

.hide {
  display: none;
}

#footer {
  grid-column: 1 / 13;
  background-color: #f1f1f1;
  text-align: center;
  grid-row: 5;
  grid-row-gap: 10px;
  background-color: yellow;
}
@media screen and (max-width: 650px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr 0.5fr;
    
  }
  #header {
    grid-column: 1 / 13;
    grid-row: 1;
  }
  #difficulty {
    grid-column: 1 / 13;
    grid-row: 2;
  }
  #questions {
    grid-column: 1 /13;
    grid-row: 3;
  }
  #rules {
    grid-column: 1 / 13;
    grid-row: 4;
  }
  #footer {
    grid-column: 1 / 13;
    grid-row: 5;
  }

  #questionsContainer{
    margin-top: 40px;
  }

  .start{
    margin-top: 80px;
  }
}
